/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1rem;
}

p {
    font-size: 1.2rem;
}





/* bottone ideatipo */

.ms-button {
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
}

.ms-button:hover {
    color: #ffffff;
}

.ms-button:hover .ms-button-border {
    box-shadow: 0 0 0 2px #363636;
}

.ms-button .ms-button-border {
    padding: 2px;
    box-shadow: none;
    border-radius: 30px;
    transition: all .2s ease;
}

.ms-button .ms-button-inside {
    background-color: #363636;
    padding: 5px 15px;
    border-radius: 30px;
}





/* header in alto fixata */

/* barra in alto nera logo sony */

.sony_band  {
    background-color: black;
}
      
.sony_band img {
    height: 40px;
    padding: 10px;
}

/* header barra di navigazione */

.logo_ps img {
    height: 70px;
}

header .navbar {
    background-color: #ffffff;
}

header nav div ul#navbarNav li.nav-item {
    display: flex;
    align-items: center;
}

header nav div div#navbarNav li.nav-item a {
    color: #000000;
}

header nav div div#navbarNav li.nav-item a:hover {
    color: #2d64e6;
}

@media (min-width: 992px) {
    header nav div div#navbarNav:last-child li.nav-item:last-child {
        margin: 0 0 0 10px;
    } 
}

header nav div ul.navbar-nav:last-child li.nav-item:last-child img {
    height: 30px;
}

header nav .ms-button {
    width: 100%;
    text-align: center;
    color: #ffffff !important;
}





/* sezione jumbo gigante */

#jumbo-section .jumbo {
    margin-top: 130px;
    height: 700px;
    background-image: url('../img/jumbo-bg.png');
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: flex-end;
    padding-bottom: 50px;
}

#jumbo-section .jumbo > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#jumbo-section .jumbo .container .row div img {
    max-width: 100%;
    margin: 10px 0;
}

#jumbo-section .jumbo h2, #jumbo-section .jumbo p {
    color: #ffffff;
    padding: 20px 0;
}

#jumbo-section .ms-button .ms-button-inside {
    background-color: #cd3d0f;
} 

#jumbo-section .ms-button:hover .ms-button-border {
    box-shadow: 0 0 0 2px #cd3d0f;
}
