/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1rem;
}

p {
    font-size: 1.2rem;
}





/* bottone ideatipo */

.ms-button {
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
}

.ms-button:hover {
    color: #ffffff;
}

.ms-button:hover .ms-button-border {
    box-shadow: 0 0 0 2px #363636;
}

.ms-button .ms-button-border {
    padding: 2px;
    box-shadow: none;
    border-radius: 30px;
    transition: all .2s ease;
}

.ms-button .ms-button-inside {
    background-color: #363636;
    padding: 5px 15px;
    border-radius: 30px;
}





/* header in alto fixata */

/* barra in alto nera logo sony */

.sony_band  {
    background-color: black;
}
      
.sony_band img {
    height: 40px;
    padding: 10px;
}

/* header barra di navigazione */

.logo_ps img {
    height: 70px;
}

header .navbar {
    background-color: #ffffff;
}

header nav div ul#navbarNav li.nav-item {
    display: flex;
    align-items: center;
}

header nav div div#navbarNav li.nav-item a {
    color: #000000;
}

header nav div div#navbarNav li.nav-item a:hover {
    color: #2d64e6;
}

@media (min-width: 992px) {
    header nav div div#navbarNav:last-child li.nav-item:last-child {
        margin: 0 0 0 10px;
    } 
}

header nav div ul.navbar-nav:last-child li.nav-item:last-child img {
    height: 30px;
}

header nav .ms-button {
    width: 100%;
    text-align: center;
    color: #ffffff !important;
}





/* sezione jumbo gigante */

#jumbo-section .jumbo {
    margin-top: 130px;
    height: 700px;
    background-image: url('../img/jumbo-bg.png');
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: flex-end;
    padding-bottom: 50px;
}

#jumbo-section .jumbo > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#jumbo-section .jumbo .container .row div img {
    max-width: 100%;
    margin: 10px 0;
}

#jumbo-section .jumbo h2, #jumbo-section .jumbo p {
    color: #ffffff;
    padding: 20px 0;
}

#jumbo-section .ms-button .ms-button-inside {
    background-color: #cd3d0f;
} 

#jumbo-section .ms-button:hover .ms-button-border {
    box-shadow: 0 0 0 2px #cd3d0f;
}





/* sezione jumbo 6 giochi */

/* thumbnail giochi */

#jumbogames-section > .container {
    padding: 50px 0;
}

#jumbogames-section > .container .row .col {
    margin-bottom: 10px;
}

#jumbogames-section > .container .row .col .ms-img-container {
    padding: 5px;
    border-radius: 15px;
    transition: all .2s ease;
}

#jumbogames-section > .container .row .col .ms-img-container:hover {
    box-shadow: 0 0 0 2px #2d64e6;
}

#jumbogames-section > .container .row .col .ms-img-container img {
    width: 100%;
    border-radius: 15px;
}





/* sezione ps5 */

#ps5-section {
    margin-bottom: 150px;
}

#ps5-section div.container:first-child {
    margin-top: 100px;
    margin-bottom: 150px;
}

#ps5-section div.container h2 {
    color: #1f1f1f;
    margin-bottom: 30px;
}

#ps5-section div.container h3 {
    color: #727272;
    margin-bottom: 30px;
}

#ps5-section div.container h4 {
    color: #2d64e6;
}

#ps5-section div.container:last-child .row {
    align-items: center;
}

#ps5-section img {
    width: 100%;
}

#ps5-section .ms-button .ms-button-inside {
    background-color: #2d64e6;
} 

#ps5-section .ms-button:hover .ms-button-border {
    box-shadow: 0 0 0 2px #2d64e6;
}



/* ps5 accessori */

#ps5-section #ps5-pieces {
    align-items: stretch;
}

#ps5-section #ps5-pieces .col {
    padding-bottom: 20px;
    position: relative;
}

#ps5-section #ps5-pieces .col a {
    text-decoration: none;
    color: #000000;
}

#ps5-section #ps5-pieces .ms-ps5-overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .3);
    z-index: 1;
    transition: all .2s ease;
}

#ps5-section #ps5-pieces .col:hover {
    border-bottom: 2px solid #2d64e6;
}

#ps5-section #ps5-pieces .col:hover .ms-ps5-overlay {
    display: none;
}

#ps5-section #ps5-pieces .col img {
    margin-bottom: 20px;
}





/* sezione it takes two */

#takes-two {
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
    background-size: cover;
    background-position: center;
    padding: 50px 0;
}

#takes-two .container .row div img {
    max-width: 100%;
    margin: 10px 0;
}

#takes-two h2, #takes-two p {
    color: #ffffff;
    padding: 20px 0;
}

#takes-two .ms-button .ms-button-inside {
    background-color: #cd3d0f;
} 

#takes-two .ms-button:hover .ms-button-border {
    box-shadow: 0 0 0 2px #cd3d0f;
}





/* sezione nuove uscite */

#new-release {
    background-color: #1f1f1f;
    color: #ffffff;
    padding: 50px 0;
}

#new-release h2, #new-release h3 {
    margin-bottom: 20px;
}

#new-release .container .row {
    padding-top: 20px;
}

#new-release .container .row .col {
    margin-bottom: 30px;
}

#new-release .container .row .col a {
    text-decoration: none;
    color: #ffffff;
}

#new-release .container .row .col a:hover img {
    transform: scale(1.03);
}

#new-release .container .row .col a img {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 30px;
    transition: all .2s ease;
}





/* sezione ps4 */

#ps4-section {
    padding: 50px 0;
}

.ms-wrapper {
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

#ps4-section h3 {
    color: #727272;
}

#ps4-section .ms-wrapper {
    margin-bottom: 50px;
}

#ps4-section .ms-wrapper h2 {
    margin-bottom: 30px;
}

#ps4-section .container .row .col {
    margin-bottom: 50px;
}

#ps4-section .container .row .col img {
    max-width: 100%;
    margin-bottom: 10px;
}

#ps4-section .container .row .col h2 {
    margin-bottom: 20px;
}

#ps4-section .container .row .col h3 {
    margin-bottom: 20px;
}

#ps4-section .ms-button .ms-button-inside {
    background-color: #2d64e6;
} 

#ps4-section .ms-button:hover .ms-button-border {
    box-shadow: 0 0 0 2px #2d64e6;
}
